body {
  font-family: "Montserrat", sans-serif;
  color: black;
  background-color: #f8f6fd;
}

.row {
  display: flex;
}

.column {
  flex: 25%;
  padding: 10px;
}

.weather-app {
  border-radius: 30px;
  background: white;
  width: 800px;
  border: white;
  border: 1px solid #fff;
  margin: 60px auto;
  margin-bottom: 20px;
}

.search-form {
  display: flex;
  justify-content: left;
}

#search-city-input {
  margin-top: 20px;
  margin-left: 30px;
  background-color: #f9f7fe;
  border: none;
  font-size: 16px;
  border-radius: 30px;
  padding: 20px;
  color: rgba(39, 33, 66, 0.4);
  width: 500px;
  border-radius: 10px;
}

#search-button {
  border-radius: 10px;
  background-color: lightsalmon;
  border: none;
  padding: 20px;
  margin-top: 20px;
  margin-left: 10px;
}

#location-button {
  border-radius: 10px;
  background-color: lightsalmon;
  border: none;
  padding: 20px;
  margin-top: 20px;
  margin-left: 10px;
}

#icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

hr {
  width: 600px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#weather-forecast-temperatures {
  text-align: center;
}

#footer {
  text-align: center;
  color: grey;
  font-size: 12px;
}
