body {
  background: white;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.weather-app {
  border-radius: 30px;
  background: linear-gradient(
    246deg,
    rgb(250, 198, 225) 0%,
    rgb(139, 102, 241) 100%
  );
  width: 600px;
  border: white;
  border: 1px solid #fff;
  margin: 60px auto;
  margin-bottom: 20px;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  display: flex;
  justify-content: space-around;
  line-height: 2;
}

#search-city-input {
  margin-top: 20px;
  background-color: #f9f7fe;
  border: none;
  font-size: 16px;
  border-radius: 30px;
  padding: 20px;
  color: rgba(39, 33, 66, 0.4);
  width: 500px;
}

#current-city {
  font-size: 30px;
}

#temperature {
  font-size: 90px;
  font-weight: bolder;
  margin-top: -20px;
}

#unit {
  font-size: 30px;
}

#icon {
  padding-top: 20px;
  width: 60px;
  line-height: 40px;
  padding-left: 30px;
}

#footer {
  text-align: center;
  color: grey;
}

#current-city {
  font-weight: bolder;
}
